@CHARSET "UTF-8";
body{
	background: yellow;
	
	
}
#a00{
	background: gray;
	width: 1200px;
	margin: auto;
}
#a01{
	background: aqua;
	width: 1200px;
	height: 200px;
}
#a02{
	background: navy;
	width: 150px;
	height: 700px;
	float: left;
}
#a03{
	background: blue;
	width: 150px;
	height: 700px;
	float: right;
}
#a04{
	background: red;
	width: 900px;
	height: 700px;
	position: absolute;
	margin-left: 150px;
	
}
#a05{
	background: maroon;
	width: 250px;
	height: 50px;
	
	margin:50px 50px;
	float: right;
	
}
li{
list-style-type: none;
float: left;
border-right: 1px solid black;
border-left: 1px solid black;
border-bottom: 1px solid black;
padding: 3px;
margin: 0px;
}
UL#menu {
    margin: 0; padding: 0; /* Убираем отступы */
   }
   UL#menu > LI {
    list-style: none; /* Убираем маркеры списка */
    width: 100px; /* Ширина элемента в пикселах */
    background: #b3d9d2; /* Цвет фона */
    color: #333; /* Цвет текста */
    padding: 5px; /* Поля вокруг текста */
    font-family: Arial, sans-serif; /* Рубленый шрифт */
    font-size: 90%; /* Размер шрифта */
    font-weight: bold; /* Жирное начертание */
    float: left; /* Располагаем элементы по горизонтали */
   }
   LI > UL {
    list-style: none; /* Убираем маркеры списка */
    margin: 0; padding: 0; /* Убираем отступы вокруг элементов списка */
    border-bottom: 1px solid #666; /* Граница внизу */
    padding-top: 5px; /* Добавляем отступ сверху */
   }
   LI > A {
    display: block; /* Ссылки отображаются в виде блока */
    font-weight: normal; /* Нормальное начертание текста */
    font-size: 90%; /* Размер шрифта */
    background: #fff; /* Цвет фона */
    border: 1px solid #666; /* Параметры рамки */
    border-bottom: none; /* Убираем границу снизу */
    padding: 5px; /* Поля вокруг текста */
   }
input[type="button"] {
   background-image: url("img/106.png");
   background-repeat: no-repeat;
   width: 88px;
   height: 20px;
   display: block;
   border: 0px;
}
input[type="button"]:ACTIVE {
   background-image: url("img/106a.png");
   background-repeat: no-repeat;
   width: 88px;
   height: 20px;
   display: block;
   border: 0px;
}
