@CHARSET "UTF-8";
body{
	font-family: sans-serif;
	font-size: 90%;
}
.blockChief{
	width: 95%;
	padding: 10px;
	
	
}
#blockLeft{
	width: 160px;
	background: #f4f5f7;
	border-right: 1px solid #82c0ff;
	padding: 3px;
	font-family: sans-serif;
	font-size: small;
	float: left;
}
#blockRight{
	width: 88%;
	position: absolute;
	left: 184px;
	top:98px;
	padding-left: 20px;
	
	
	
}
#blockHead{
	background: #f4f5f7;   /*delete*/
	width: 90%;
	height: 40px;
	position: absolute;
	left: 184px;
	
}
div#blockHead *{
	display: inline-block;
	
}
#blockTabs{
	background: #f4f5f7;   
	width: 90%;
	height: 40px;
	position: absolute;
	left: 184px;
	top: 58px;
	padding: 0px;
	border-bottom: 1px solid #82c0ff;
	vertical-align: top;
	
}
#logoWiki{
	width: 160px;
	height: 160px;
	display: block;
	background-image: url("https://uk.wikipedia.org/static/images/project-logos/ukwiki.png");
	background-repeat: no-repeat;
	background-position: center;
}
a {
	text-decoration: none;
	color: #409fff;
}
.aTabs{
	height:35px;
	display:table-cell;
	text-decoration: none;
	color: black;
	vertical-align: middle;
}

a#logoRef{
	width: 150px;
	height: 150px;
	display: block;
}
.ulMenu{
	list-style-type: none;
	list-style-type: none;
}
#ul01{
	margin: 5px;
	padding: 0px;
}
#ul02{
	margin-left: 20px;
	margin-top: 5px;
	padding: 0px;
}
.m01{
	border-bottom: 1px solid #c0c0c0;
	
}
h3{
	font-weight: normal;
	margin-top: 6px;
	margin-bottom: 0px;
	color: #808080;
}
a:HOVER{text-decoration: underline;}
h1+hr{
	margin-top: -1em;
}
a.redA{
	color: #B40E12;
}
h2+hr{
	margin-top: -1em;
}
table {
	border: 1px solid #C0C0C0;
}
td.tableBCaRight{
	border: 0px;
	text-align: right;
	background-color: #8080FF;
	width: 25%; 
}
td.tableBcACenter{
	border: 0px;
	text-align: center;
	background-color: #8080FF;
}
td.tableBcALeft{
	border: 0px;
	text-align: left;
	font-size: smaller;
	font-size: 90%;
}
td.tableBcALeftBg{
	border: 0px;
	text-align: left;
	background-color: #F0F0F0;
	font-size: 90%;
}
img {
	border: 3px solid fuchsia;
}
#imgOnline{
	border: 3px dashed navy;
}
span#fontSmall{
	font-size: smaller;
}
div#blockTabs  ul{
	margin: 0px;
	padding: 0px;
	
	
}
div#blockTabs  li{
	list-style-type: none;
	padding: 3px;
	margin: 0px;
	display: table-cell;
	vertical-align:bottom;
	height: 34px;
	border-left: 1px solid #82c0ff;
	border-right: 1px solid #82c0ff;
	float: left;
	
}
div#blockTabs  li.rightTabs{
	float: right;
}

form#search{
	padding-top: 10px;
	float: right;
	padding-right: 30px;
	padding-left: 15px;
	
}

form#submit{
	float: right;
	padding-right: 50px;
}
input[type="text"]:FOCUS {
	border: 2px ridge #e1b3fd;
}
input[type="password"]:FOCUS {
	border: 2px ridge #e1b3fd;
}
#searchButton{
	background-image: url("2.png");
	background-repeat: no-repeat;
	background-position: center center;
	border: 1px solid #C0C0C0;
	margin: 0px;
	text-indent: -99999px;
	
}